.plan {
  padding-top: 80px;
  .inner {
  }
}

.rec {
  padding-top: 60px;
  .rec-slick {
  }
  .rec-item {
    display: flex;
    flex-flow: column-reverse;
    border-radius: 8px;
    overflow: hidden; //はみ出た部分を隠すことができる
    margin-left: 30px;
    margin-right: 30px;
    @include overTab {
      margin-left: 10px;
      margin-right: 10px;
    }
    .text {
      background-color: cl(white);
      padding: 25px 25px 50px 25px;
    }
    .title {
      color: cl(text);
    }
    .plice {
      color: cl(text);
      padding-top: 60px;
      > span {
        //priceのなかのspanという意味
        color: cl(red);
      }
    }
    .image {
    }
  }
}

.service {
  .service-wrap {
    padding-top: 80px;
    @include overTab {
      padding-top: 100px;
    }
  }
  .service-list {
    padding-right: 40px;
    padding-left: 40px;
    @include overTab {
      display: flex;
    }
  }
  .service-item {
    background-color: cl(grey);
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.9;
    display: flex;
    flex-flow: column-reverse;
    @include overTab {
      width: percentage(390/1200);
    }
    + .service-item {
      margin-top: 30px;
      @include overTab {
        margin-top: 0;
        margin-left: 20px;
      }
    }
    .text {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 50px;
    }
    .title {
      font-size: 28px;
      text-align: center;
    }
    .desc {
      padding-top: 40px;
      font-size: 18px;
    }
    .image {
      width: 160px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .text {
    padding-right: 40px;
    text-align: center;
  }
}
