.cmn-section {
  &.-black {
    background-color: cl(black);
  }
}

.cmn-title {
  text-align: center;
  .main {
    display: block;
    color: cl(white);
    font-size: 32px;
  }
  .sub {
    display: block;
    color: cl(white);
    font-size: 20px;
    margin-top: 34px;
    @include TimesNewRoman;
    text-transform: capitalize; //最初の文字を大文字に変える
    @include overTab {
      margin-top: 50px;
    }
    &.-faq {
      text-transform: uppercase;
    }
  }
}

.cmn-link {
  a {
    color: cl(white);
    background-color: cl(gold);
    display: flex;
    width: 155px;
    height: 37px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 14px;
  }
}

.cmn-btn {
  color: cl(white);
  background-color: cl(gold);
  display: flex;
  width: 155px;
  height: 37px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 14px;
}

.article-section {
  background-color: black;
}
