.footer {
  background-color: cl(primary);
  padding-top: 60px;
  border: 1px solid #6e6e6e;
  padding-bottom: 15px;
  .inner {
    @include overTab {
    }
    .nav-wrap {
      .nav-list {
        @include overTab {
          display: flex;
          justify-content: center;
        }

        .nav-item {
          text-align: center;
          margin-top: 20px;
          @include overTab {
            margin-left: 35px;
            margin-top: 0;
          }
          a {
            font-size: 16px;
            color: cl(white);
          }
        }
      }
    }
    .footer-logo {
      height: 56px;
      width: 56px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 60px;
      img {
        width: 56px;
        height: 56px;
      }
    }
    p {
      color: cl(white);
      padding-top: 20px;
      text-align: center;
      font-size: 16px;
    }
  }
}
